// Managed by Forge-OS (forge_unattended_upgrades)
Unattended-Upgrade::Allowed-Origins {
    "${distro_id}:${distro_codename}-security";
    "${distro_id}ESMApps:${distro_codename}-apps-security";
    "${distro_id}ESM:${distro_codename}-infra-security";
};
Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";
Unattended-Upgrade::Remove-Unused-Dependencies "true";
Unattended-Upgrade::Automatic-Reboot "{{ 'true' if forge_auto_reboot else 'false' }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ forge_auto_reboot_time }}";
Unattended-Upgrade::SyslogEnable "true";
Unattended-Upgrade::OnlyOnACPower "false";
