# Default owners for everything in the repository
*                     @danielesalpietro
/autoinstall/         @danielesalpietro
/ansible/roles/forge_luks_tpm/ @danielesalpietro
/.github/             @danielesalpietro
