#!/usr/sbin/nft -f
# Managed by Forge-OS (forge_nftables). Additional rules: /etc/nftables.d/*.nft
flush ruleset

table inet forge {
  set ssh_allowed_v4 { type ipv4_addr; flags interval; {% if forge_ssh_allowed_cidrs | ansible.utils.ipv4 | length > 0 %}elements = { {{ forge_ssh_allowed_cidrs | ansible.utils.ipv4 | join(', ') }} }{% endif %} }
  set ssh_allowed_v6 { type ipv6_addr; flags interval; {% if forge_ssh_allowed_cidrs | ansible.utils.ipv6 | length > 0 %}elements = { {{ forge_ssh_allowed_cidrs | ansible.utils.ipv6 | join(', ') }} }{% endif %} }

  chain input {
    type filter hook input priority filter; policy drop;
    iif "lo" accept
    ct state established,related accept
    ct state invalid drop
    ip protocol icmp icmp type { echo-request, destination-unreachable, time-exceeded, parameter-problem } limit rate 10/second accept
    ip6 nexthdr icmpv6 icmpv6 type { echo-request, destination-unreachable, packet-too-big, time-exceeded, parameter-problem, nd-router-advert, nd-neighbor-solicit, nd-neighbor-advert } limit rate 10/second accept
{% if forge_ssh_allowed_cidrs | length > 0 %}
    ip saddr @ssh_allowed_v4 tcp dport {{ forge_ssh_port }} ct state new limit rate 15/minute accept comment "ssh (restricted)"
    ip6 saddr @ssh_allowed_v6 tcp dport {{ forge_ssh_port }} ct state new limit rate 15/minute accept comment "ssh (restricted)"
{% else %}
    tcp dport {{ forge_ssh_port }} ct state new limit rate 15/minute accept comment "ssh"
{% endif %}
{% for rule in forge_nftables_extra_input_rules %}
    {{ rule }}
{% endfor %}
    limit rate 5/minute log prefix "nft-drop-input: " level warn
  }
  chain forward {
    type filter hook forward priority filter; policy drop;
  }
  chain output {
    type filter hook output priority filter; policy {{ forge_nftables_output_policy }};
{% if forge_nftables_output_policy == 'drop' %}
    oif "lo" accept
    ct state established,related accept
    meta l4proto { tcp, udp } th dport { 53, 80, 123, 443 } accept comment "dns, http, ntp, https"
{% endif %}
  }
}

include "/etc/nftables.d/*.nft"
