[defaults]
inventory = inventories/local.ini
roles_path = roles:vendor/roles
collections_path = vendor/collections:/usr/share/ansible/collections:~/.ansible/collections
interpreter_python = /usr/bin/python3
retry_files_enabled = False
host_key_checking = False
nocows = 1
forks = 10
gathering = smart
fact_caching = memory
display_skipped_hosts = False
stdout_callback = default

[callback_default]
result_format = yaml

[privilege_escalation]
become = True
become_method = sudo
